.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 1s linear;
  width: 100%;
  height: 100%;
}