.popup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: fixed;
  opacity: 1;
  z-index: 2;
  max-width: 880px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 1s linear;
}