.popup__save-bttn {
    width: 100%;
    padding: 0;
    height: 50px;
    background: #000;
    border: 0;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    align-self: center;
    margin-top: 18px;
}

@media screen and (max-width: 768px) {
    .popup__save-bttn {
      height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 0;
    }
}

.popup__save-bttn:hover {
    opacity: 0.8;
    transition: opacity 0.5s linear;
}