.popup__form-name {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    align-self: flex-start;
    padding-bottom: 44px;
}

@media screen and (max-width: 768px) {
    .popup__form-name {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 75px;
    }
}