.popup__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    margin: 195px 17.5%;
    width: 430px;
    height: 330px;
    background: #FFF;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        margin: 123px 19px 0;
        width: 282px;
        height: 322px;
    }
}