.popup__container {
    position:relative;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    width: 358px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 37px;
    margin: 0;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: 282px;
        padding: 25px 22px;
        box-sizing: border-box;
        justify-self: center;
        margin-top: 123px;
    }
}