.profile {
    display: grid;
    grid-template-columns: 120px min-content auto 150px;
    grid-template-areas:
    'avatar info . button';
    column-gap: 30px;
    text-align: left;
    align-items: center;
    max-width: 880px;
    padding-top: 40px;
    padding-bottom: 51px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 920px) {
    .profile {
        padding-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        flex-direction: column;
        min-width: 282px;
        padding-top: 42px;
        padding-bottom: 36px;
    }
}