.header {
    width: 100%;
    min-width: 320px;
    max-width: 880px;
    height: 74px;
    margin: 0;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 768px) {
    .header {
        padding-top: 28px;
        height: 56px;
    }
}