.profile__add-button {
    grid-area: button;
    box-sizing: border-box;
    width: 150px; 
    height: 50px;
    border: 2px solid #FFF;
    border-radius: 2px;
    background-image: url(../../../images/cross.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        width: 282px;
        box-sizing: border-box;
        background-size: 16px;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s linear;
}