.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    max-width: 318px;
}

@media screen and (max-width: 920px) {
    .footer__copyright {
        padding-left: 3%;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        min-width: 282px;
        padding-left: 6%;
    }
}