.popup__field-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 27px;
    border-bottom: 1px solid #000;
    margin: 0;
    margin-bottom: 48px;
    padding-top: 30px;
}

@media screen and (max-width: 768px) {
    .popup__field-about {
        width: 238px;
        height: 27px;
        margin-bottom: 45px;
    }
}