.profile__info {
    grid-area: info;
    max-width: 336px;
    height: 73px;   
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .profile__info {
        min-width: 282px;
        column-gap: 14px;
        row-gap: 8px;
        padding-top: 25px;        
        padding-bottom: 18px;
        padding-left: 30px;
        }
}