.profile__info {
    grid-area: info;
    max-width: 336px;
    height: 73px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
}

@media screen and (max-width: 768px) {
    .profile__info {
        width: 282px;
        column-gap: 14px;
        row-gap: 8px;
        padding-top: 20px;
        padding-bottom: 18px;
        align-items: center;
        }
}